.top{
    background-color: brown;
    height:70px;
    width:100%;
    top: 0px;
    position: absolute;
}
.hb{
    font-family: 'Dancing Script', cursive;
    color:aliceblue;
    font-size: 40px;
    position: absolute;
    top:10px;
    left:10px;
}
.hb a{
    text-decoration: none;
    color:aliceblue;


}

.about{
    height:70px;
    background-color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    border-right: 0px;
    border-left:0px;
    width: 140px;
    position: absolute;
    left:600px;
    top:0px;
    cursor:pointer;
}
.text1{
    margin: 2px;
}
.donate{
    height:70px;
    background-color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
    border-left:1px;
    border-right: 0px;
    width:140px;
    position: absolute;
    left:740px;
    top:0px;
    cursor:pointer;
}
.text2{
    margin: 2px;
}

.login{
    height:50px;
    background-color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    width: 140px;
    position: absolute;
    left:1200px;
    top:10px;
    cursor:pointer;
    border-radius: 30px;
    border-width: 1px;
}
.signup{
    height:50px;
    background-color: brown;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    width: 140px;
    position: absolute;
    left:1350px;
    top:10px;
    cursor:pointer;
    border-radius: 30px;
    border-width: 1px;
}








.first{
    position: relative;
    top:80px;
   
    height:500px;



}
.img1{
    height: 500px;
    width:50%;
    float:left;
}
.firsttext{
    font-size: 60px;
    font-family: 'Pacifico', cursive;

}







.second{
    background-color: brown;
    position: relative;
    top: 50px;
    height: 650px;
}


.contactus{
    padding: 50px;
    background-color: aliceblue;
    position: relative;
    top:40px;
    border:2px solid black;
    width:50%;
    left:20%;

    height:400px;
}
.text3{
    font-size: 30px;
    position: absolute;
    top:0px;
    font-family:'Crafty Girls', cursive;
}

.forms{
    position: absolute;
    top:200px;
    
}
.name{
    position: absolute;
    height:20px;
    width:500px;
    left:100px;
}
.number{
    position: absolute;
    height:20px;
    width:500px;
    left:100px;
}
.email{
    position: absolute;
    height:20px;
    width:500px;
    left:100px;
}
.review{
    position: absolute;
    height:100px;
    width:500px;
    left:100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.submit{
    position: relative;
    left:300px;
}

.bottom{
    top:70px;
    position: relative;
    height:200px;
    background-color: rgb(33, 31, 31);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social{
    font-size: 15px;
    color:white;
    position: relative;
    left:150px;
    top:30px;

}
.list1 a{
    text-decoration: none;
    color:white;
    height:50px;
    width: 100%;

}

.contact{
    position: relative;
    top:30px;
    color: white;
    left:150px;

}
@tailwind base;
@tailwind components;
@tailwind utilities;
